@media(max-width: 1500px) {
  .menu{
    &__list{
      gap: 30px;
    }
  }
}

@media(max-width: 1400px) {
  .header{
    &__btns {
      gap: 10px;
    }
    &__btn{
      padding: 10px;
    }
    &__count {
      width: 22px;
      height: 22px;
      font-size: 14px;
      line-height: 1;
    }
  }
  .basket{
    padding-top: 112px;
  }
  .app{
    padding-top: 112px;
  }
}