:root{
  --grey-dark: #1D1D1F;
  --grey-light: rgb(245, 245, 247);
  --white: #fff;
--grey-text: #686870;
}
.dark{
  --grey-dark: #050505;
--grey-light: #383046;
--white: #514b69;
--grey-text: #b9b9b9;
}

svg{
  max-width: fit-content;
}

body{
  background-color: var(--grey-light);
  font-family: "Inter", sans-serif;
  line-height: 150%;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container{
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section{
  margin-bottom: 124px;
}


.loader{
  width: 48px;
  height: 48px;
  border: 5px solid #f63;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff67;
    pointer-events: none;
    cursor: default;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
